@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

div {
  margin: 0 auto;
  text-align: center;
}

input {
  outline: none;
  font-size: 1.1em;
  margin-top: 10px;
}